<a href="https://colab.research.google.com/github/itallocastro/data_science/blob/master/lista2/lista2q7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

In [62]:
sentences = [
             'They are novels', 
             'have you read this book',
             'who is the author', 
             'what are the characters',
             'This is how I bought the book',
             'I like fictions',
             'what is your favorite book',
             'This is my book',
             'what do you mean'
             ]
classes = ['stmt', 'question', 'question', 'question','stmt', 'stmt','question', 'stmt', np.nan]
data = {'Texto': sentences, 'Classe': classes}
df = pd.DataFrame(data)
df

                           Texto    Classe
0                They are novels      stmt
1        have you read this book  question
2              who is the author  question
3        what are the characters  question
4  This is how I bought the book      stmt
5                I like fictions      stmt
6     what is your favorite book  question
7                This is my book      stmt
8               what do you mean       NaN

In [63]:
bow = CountVectorizer(binary=False, analyzer='word', ngram_range=(1,1))

In [64]:
mx = bow.fit_transform(sentences).todense()
terms = bow.get_feature_names()
a = terms
df_sentences = pd.DataFrame(mx,columns=terms, index=sentences)
df_sentences

                               are  author  book  bought  ...  what  who  you  your
They are novels                  1       0     0       0  ...     0    0    0     0
have you read this book          0       0     1       0  ...     0    0    1     0
who is the author                0       1     0       0  ...     0    1    0     0
what are the characters          1       0     0       0  ...     1    0    0     0
This is how I bought the book    0       0     1       1  ...     0    0    0     0
I like fictions                  0       0     0       0  ...     0    0    0     0
what is your favorite book       0       0     1       0  ...     1    0    0     1
This is my book                  0       0     1       0  ...     0    0    0     0
what do you mean                 0       0     0       0  ...     1    0    1     0

[9 rows x 23 columns]

In [68]:
df_merged = pd.merge(df,df_sentences, left_on='Texto', right_index=True)
y = df_merged[0:8]['Classe']
X = df_merged[0:8][terms]
X

   are  author  book  bought  characters  do  ...  they  this  what  who  you  your
0    1       0     0       0           0   0  ...     1     0     0    0    0     0
1    0       0     1       0           0   0  ...     0     1     0    0    1     0
2    0       1     0       0           0   0  ...     0     0     0    1    0     0
3    1       0     0       0           1   0  ...     0     0     1    0    0     0
4    0       0     1       1           0   0  ...     0     1     0    0    0     0
5    0       0     0       0           0   0  ...     0     0     0    0    0     0
6    0       0     1       0           0   0  ...     0     0     1    0    0     1
7    0       0     1       0           0   0  ...     0     1     0    0    0     0

[8 rows x 23 columns]

In [69]:
model = RandomForestClassifier(n_estimators=100,max_depth=4, random_state=1)
model.fit(X,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [76]:
predictions = model.predict(df_merged[8:][terms])
predictions

array(['question'], dtype=object)

In [77]:
importances = list(model.feature_importances_)
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(terms, importances)]
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: what                 Importance: 0.11
Variable: the                  Importance: 0.09
Variable: who                  Importance: 0.07
Variable: characters           Importance: 0.05
Variable: favorite             Importance: 0.05
Variable: fictions             Importance: 0.05
Variable: have                 Importance: 0.05
Variable: like                 Importance: 0.05
Variable: my                   Importance: 0.05
Variable: novels               Importance: 0.05
Variable: read                 Importance: 0.05
Variable: this                 Importance: 0.05
Variable: your                 Importance: 0.05
Variable: author               Importance: 0.04
Variable: book                 Importance: 0.04
Variable: how                  Importance: 0.04
Variable: you                  Importance: 0.03
Variable: are                  Importance: 0.02
Variable: bought               Importance: 0.02
Variable: is                   Importance: 0.02
Variable: they                 Importance: 0.01
Variable: do                   Importance: 0.0
Variable: mean                 Importance: 0.0